.title-tags-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-color;
    border: 3px dotted black;
    h1 {
        margin: 2% 0;
        @include font(18px, 500);

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(36px, 500);
        }
    }    
    h3 {
        margin: 2% 0;
        @include font(14px, 500);

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(18px, 500);
        }
    }    
}

.tags-container {
    display: flex;
    border: 3px dotted red;
}

.tagButton {
    @include flex-center;
    background: $primary-color;
    @include font(10px, 500);
    color: $tertiary-color;
    border-radius: 5px;
    padding: 10px 25px 6px 25px;
    margin-right: 10px;
    height: 18px;
    margin-top: 4%;

    @media screen and (min-width: $breakpoint-desktop) {
        @include font(14px, 500);
        @include small-radius;
        height: 25px;
        width: 115px;
    }
}

