.rate-container {
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(0, 255, 225);
}

.rate-stars {
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 18px;
    margin-top: 24px;
    border: 1px solid rgb(140, 255, 0);

    @media screen and (min-width: $breakpoint-desktop) {
        width: 196px;
        height: 36px;
    }
}

.star {
    width: 15px;
    height: 15px;

    @media screen and (min-width: $breakpoint-desktop) {
        width: 30px;
        height: 30px;
    }
}