$primary-color: #ff6060;
$secondary-color: #F7F7F7;
$tertiary-color: #FFFFFF;
$footer-color: #000000;

$background-color: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$banner-background: $background-color url(../../assets/background-banner.png);
$about-mobile-background: $background-color url(../../assets/About-mobile-Background.png);
$about-background: $background-color url(../../assets/about-background.png);

$breakpoint-desktop: 769px;

$wmin: 375px;
$wmax: 768px;