.cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    @include small-radius;
    margin: 22px 0;

    @media screen and (min-width: $breakpoint-desktop) {
        gap: 50px;
        padding: 5% 1%;
        @include big-radius;
        margin: 43px 0;
        background-color: $secondary-color;
    }
}

.card-logement {
    display: flex;
    position: relative;
    width: 335px;
    height: 255px;
    min-width: 335px;
    @include small-radius;
    transition: transform 2.2s ease-in-out;

    &:hover,
    &:focus {
        @include boxShadow
    }
    
    @media screen and (min-width: $breakpoint-desktop) {
        width: 340px;
        height: 340px;
    }

    & img {
        display: flex;
        width: 100%;
        @include small-radius;
        object-fit: cover;
    }

    &__layer {
        
        position: absolute;
        bottom: 0;
        background: $linear-cards;
        @include WH-full;
        @include small-radius;
    }

    &__title {
        display: flex;
        align-items: flex-end;
        position: absolute;
        @include font(18px, 500);
        color: $tertiary-color;
        left: 5.88%;
        right: 5.88%;
        top: 78.82%;
        bottom: 5.88%;
    }
}



