.hostInfo-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    

   @media screen and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        align-items: flex-end;
       }
}

.rate-host-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    

    @media screen and (min-width: $breakpoint-desktop) {
        flex-direction: column;
        justify-content: center;
       }
}

.host-name-pic {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
	width: 100%;
}

.host-pic {
	display: flex;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #c4c4c4;

    @media screen and (min-width: $breakpoint-desktop) {
		width: 64px;
		height: 64px;
	}

    & img {
		@include WH-full;
		border-radius: 50%;
		object-fit: cover;
	}
}

.host-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $primary-color;
    text-align: right;
    width: 63px;
	height: 66px;
    @include font(12px, 500);

    @media screen and (min-width: $breakpoint-desktop) {
		@include font(18px, 500);

	}
}