.foot-container {
    background-color: $footer-color;
    margin-top: 5%;
    flex-direction: column;
    @include flex-center;
    width: 100%;
    padding: 20px 0;

    &__text {
        color: $tertiary-color;
        @include font(12px, 500);
        margin: 4% 0 3% 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(24px, 500)
        }
    }
    img {
        margin-top: 2%;
        width: 122px;
        height: 44px;
    }
}

