.errorContainer {
    display: flex;
    flex-direction: column;
    color: $primary-color;
    align-items: center;
    margin: 22px 6%;
}

.errorNumber {
    @include font(96px, 700);
    @include flex-center;
    margin: 12rem 0 1rem 0;

    @media screen and (min-width: $breakpoint-desktop) {
		@include font(288px, 700);
		margin: 0;
	}
}

.errorText {
    text-align: center;
	@include font(18px, 500);
	margin: 0 11%;
    
    @media screen and (min-width: $breakpoint-desktop) {
		@include font(36px, 500);
		margin: 0;
	}
}

.errorLinkHome {
    color: $primary-color;
    @include font(14px, 500);
    margin-top: 9rem;

    @media screen and (min-width: $breakpoint-desktop) {
		@include font(18px, 500);
	}
}